@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Griffy&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent; /* Safari, Chrome, UC Browser */
}

html {
  font-size: 16px;
  @apply font-cmu-Nunito;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #e5e7eb;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb {
  background: #ee4e34;
  border-radius: 20px;
}
::selection {
  color: #1d2238;
  background-color: #18dcff;
}
.griffy-regular {
  font-family: "Griffy", system-ui;
  font-weight: 400;
  font-style: normal;
}
.shadow-bottom {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
.list-cardcomics-pro {
  @apply pt-10 grid grid-cols-1 xs:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 min-[1224px]:grid-cols-5 gap-4;
}

.text-shadow {
  text-shadow: 1px 1px 2px #992c1b;
}

